.left_bar.left_bar_main
    .row.left_bar_header
        .row.left_bar_text-main
            | SILENT
        .row.left_bar_text-main
            | MOVIE
    .row.left_bar_child
        .left_bar_text-main
            | HOME
    .row.left_bar_child
        .left_bar_text-main
            | THEATER
    .row.left_bar_child
        .left_bar_text-main
            | MOVIE
    .row.left_bar_child
        .left_bar_text-main
            | ABOUT
