.left_bar
    .col-xs-3.col-sm-12.left_bar_header
        div(onclick="window.location.href='/'",class="col-xs-6 col-sm-12 left_bar_text-icon sm_button")
            | S
        div(onclick="window.location.href='/'",class="col-xs-6 col-sm-12 left_bar_text-icon sm_button")
            | M
    .col-xs-2.col-xs-offset-1.col-sm-12.left_bar_child
        div(onclick="window.location.href='/'",class="left_bar_text-icon sm_button")
            | H
    .col-xs-2.col-sm-12.left_bar_child
        div(onclick="window.location.href='/theater'",class="left_bar_text-icon sm_button")
            | T
    .col-xs-2.col-sm-12.left_bar_child
        div(onclick="window.location.href='/projectPage/new'",class="left_bar_text-icon sm_button")
            | M
    .col-xs-2.col-sm-12.left_bar_child
        div(onclick="window.location.href='/about'", class="left_bar_text-icon sm_button")
            | A