.left_bar.left_bar_main
    .row.left_bar_header
        .row.left_bar_text
            | SILENT
        .row.left_bar_text
            | MOVIE
    .row.left_bar_child
        .left_bar_text
            | HOME
    .row.left_bar_child
        .left_bar_text
            | THEATER
    .row.left_bar_child
        .left_bar_text
            | MOVIE
    .row.left_bar_child
        .left_bar_text
            | ABOUT
