.left_bar
    .row.left_bar_header
        .row.left_bar_text-icon
            | S
        .row.left_bar_text-icon
            | M
    .row.left_bar_child
        .left_bar_text-icon
            | H
    .row.left_bar_child
        .left_bar_text-icon
            | T
    .row.left_bar_child
        .left_bar_text-icon
            | M
    .row.left_bar_child
        .left_bar_text-icon
            | A