.left_bar.left_bar_main
    .row.left_bar_header
        div(onclick="window.location.href='/'",class="row left_bar_text-main sm_button")
            | SILENT
        div(onclick="window.location.href='/'",class="row left_bar_text-main sm_button")
            | MOVIE
    .row.left_bar_child
        div(onclick="window.location.href='/'",class="left_bar_text-main sm_button")
            | HOME
    .row.left_bar_child
        div(onclick="window.location.href='/theater'",class="left_bar_text-main sm_button")
            | THEATER
    .row.left_bar_child.left_bar_child_make-a-movie
        div(onclick="window.location.href='/projectPage/new'",class="row left_bar_text-main sm_button")
            | MAKE A
        div(onclick="window.location.href='/projectPage/new'",class="row left_bar_text-main sm_button")
            | MOVIE
    .row.left_bar_child
        div(onclick="window.location.href='/about'",class="left_bar_text-main sm_button")
            | ABOUT
