.left_bar
    .col-xs-3.col-sm-12.left_bar_header
        .col-xs-6.col-sm-12.left_bar_text-icon
            | S
        .col-xs-6.col-sm-12.left_bar_text-icon
            | M
    .col-xs-2.col-xs-offset-1.col-sm-12.left_bar_child
        .left_bar_text-icon
            | H
    .col-xs-2.col-sm-12.left_bar_child
        .left_bar_text-icon
            | T
    .col-xs-2.col-sm-12.left_bar_child
        .left_bar_text-icon
            | M
    .col-xs-2.col-sm-12.left_bar_child
        .left_bar_text-icon
            | A