<div class="modal fade" id="playModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id="closePlayerModalButton" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="popupHeader" class="modal-title"></h4>
            </div>
            <div id="contentfeed" class="modal-body">
                <!-- Player goes here -->
            </div>
            <div class="modal-footer">
                <button id="closePlayerModalButton" type="button" class="btn btn-default sm-button sm-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script src="/javascripts/jwplayer/jwplayer.js"></script>
<script>
    var playerInstance;

    function startPlayer() {
        jwplayer.key = "hKr0It8yDiMnKte/Cy3p9KDJ74XfRooWYAiO8A==";

        playerInstance = jwplayer("contentfeed");
        playerInstance.setup({
            file: "/content/timeout.mp4",
            controls: false,
            autostart: true,
            autoplay: true,
            repeat: true,
            width: $('#contentfeed').width()
        });

    }

    $('#contentfeed').on('resize', function(){
        playerInstance.resize($('#contentfeed').width());
    });


    $('#closePlayerModalButton').on('click', function () {
        if(playerInstance){
            jwplayer("contentfeed").remove();
        }
    });
</script>