extends layout.pug
block variables
    - var pageTitle = "Main Menu"
block content
    h3 About The Program
    button(id="directorsPageButton", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        Director's Page
    script(src="javascripts/index.js")