{{> head }}
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {{> header pageTitle="Director's Page" }}
            <button id="uploadPage" class="btn btn-lg sm-button upload-btn sm-pageLink" type="button">Upload Page
            </button>
            <br><br>
            <button id="viewFiles" class="btn btn-lg sm-button upload-btn sm-pageLink" type="button">View Files</button>
            <br><br>
            <button id="mainPage" class="btn btn-lg sm-button upload-btn sm-pageLink" type="button">Main Page</button>
        </div>
    </div>
</div>
<script src="javascripts/directors.js"></script>
</body>