extends layout.pug
block variables
    - var pageTitle = "Main Menu"
block content
    button(onclick="window.location.href='/theater'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        Theater
    br
    br
    button(onclick="window.location.href='/projectPage/new'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        Make A Project
    br
    br
    button(onclick="window.location.href='/viewProjects'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        View Projects
    br
    br
    button(onclick="window.location.href='/about'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        About
