extends layout.pug
block variables
    - var pageTitle = "Main Menu"
block content
    h3 Coming Soon
    button(onclick="window.location.href='/projectPage/new'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        Make A Project
    button(onclick="window.location.href='/viewProjects'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        View Projects
    button(onclick="window.location.href='/directors'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        Director's Page
    button(onclick="window.location.href='/about'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button").
        About