extends layout_empty.pug
block variables
    - var pageTitle = "Odyssey Mobile"
block content
    script(src="socket.io/socket.io.js")
    script(src="/javascripts/mobile_client.js")
    link(rel="stylesheet", href="/stylesheets/style-odyssey.css")
    .row
        .col-xs-12
            .row
                .col-xs-12.sm_mobile_header
                    | Twitch Odyssey
            .row.sm_mobile_mobile-image-container
                each file in files
                    div(   click="fileClick('" + file.target + "')", onclick="fileClick('" + file.target + "')", class="col-xs-4 col-sm-3 col-md-2 sm_mobile_mobile-image-block")
                        img(onmouseover="fileClick('" + file.target + "')",id="img_" + file.target, src="/thumbnails/" + file.target + ".png", class="sm-mobile-file_img sm_mobile_mobile-image")
        .sm_mobile_queue-container
            .sm_mobile_queue-title Queue
                hr
            div(id="queue", class="sm_mobile_queue")
                each target in queue
                    div(id='q_' + target, onclick="fileClick('" + target + "')", class="col-xs-12")
                        img(src="/thumbnails/" + target + ".png", class="sm-mobile-file_img")