extends layout_empty.pug
block variables
    - var pageTitle = "Odyssey Mobile"
block content
    script(src="socket.io/socket.io.js")
    script(src="/javascripts/mobile_client.js")
    link(rel="stylesheet", href="/stylesheets/style-odyssey.css")
    .row
        .col-xs-6.col-sm-8.col-md-9
            .row
                each file in files
                    - var fileRef = JSON.stringify(file);
                    div( onclick="fileClick(" + fileRef + ")", class="col-xs-12 col-sm-4 col-md-3")
                        img(src="/thumbnails/" + file.target + ".png", class="sm-mobile-file_img")
        .col-xs-6.col-sm-4.col-md-3
            | Queue
            #queue
                each target in queue
                    div( onclick="fileClick(" + target + ")", class="col-xs-12")
                        img(src="/thumbnails/" + target + ".png", class="sm-mobile-file_img")