<!doctype html>
<html lang="en">
	<head>
  		<meta charset="UTF-8">
  		<title>Twitch Odyssey</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
		<link rel="stylesheet" href="/stylesheets/style.css">
  		<script src="socket.io/socket.io.js"></script>
 <!--
 <td>OBS Custom ServerSetup URL:
  <br>rtmp://45.79.70.119/live
  <br>Stream Key: twitchodyssey "</td></tr>
-->

</head>
<body background="/images/newwhite.png">
  <ul class="pages">
    <li class="chat page">
	<div class="row">
		<div class="col-sm-12" style="background-color:#000">
			<center>			
				<div id="rtmpfeed">Loading the player...</div>
			</center>
		</div>
	</div>
	<div class="row" style="max-height:50%; min-height:50%; height:50%">
		 <div class="col-sm-6" id="thumbs_temp" style="overflow-y:auto; max-height:100%; min-height:100%; height:100%;">
			<% include thumbnailView.html %>
		</div>
		<div class="col-sm-6" style="max-height:100%; min-height:100%; height:100%;">
			<% include chatView.html %>
		</div>
	</div>
    </li>
	
    <li class="login page">
	<div class="form">
		<br><br><br><br><br><br><br>
  		<h1>Twitch Odyssey</h1><h2> A Live Stream Performance</h2> <br><h5>
  		To enter the theater, choose and submit a chat name. <br> 
  		 Once in the theater,<br> you can select clips of content to stream in the performance <br> and you can chat with other audience members in the theater.<br>  If you'd like to add a clip of your own, go to <br><a href="http://twitchodyssey.net/instructions" target="_blank">Add Content</a><br> and drop your clip there.  </h5>
        	<br><br><br><!--<a href="/instructions" class="submit">SUBMIT HERE -->  </a>
		<h2>Join The Theater</h2>
        	<input class="usernameInput" type="text" maxlength="14" />
      		<h4>To join, choose a chat name and press "return"</h4>
		<br>
		<h3>MADE BY:  KRISTIN ERICKSON, HOPE HUTMAN, TOM JOHNSON AND MATTHEW ZIMMERMAN</h3>
	</div>
    </li>
  </ul>

<script src="/javascripts/jwplayer/jwplayer.js"></script>
<script src="/javascripts/philly.js"></script>
<script src="/javascripts/w3-include-HTML.js"></script>
<script>jwplayer.key="hKr0It8yDiMnKte/Cy3p9KDJ74XfRooWYAiO8A==";</script>
<script>
	function thumbClickTest() {
    		console.log("thumb test");
	}
</script>
</body>
</html>
