{{> head }}
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {{> header pageTitle='Project Page' }}
            <div class="sm_fade-in">
                <h3>Make a Project!</h3>
                <div id="projectPlanner" class="projectPlannerCreator">
                    <div class="row-fluid" >
                        <div class="col-xs-1">
                            BLOCK 1
                        </div>
                        <div class="col-xs-1">
                            BLOCK 2
                        </div>
                        <div class="col-xs-1">
                            BLOCK 3
                        </div>
                        <div class="col-xs-1">
                            BLOCK 4
                        </div>
                        <div class="col-xs-1">
                            BLOCK 5
                        </div>
                        <div class="col-xs-1">
                            BLOCK 6
                        </div>
                        <div class="col-xs-1">
                            BLOCK 7
                        </div>
                        <div class="col-xs-1">
                            BLOCK 8
                        </div>
                        <div class="col-xs-1">
                            BLOCK 9
                        </div>
                        <div class="col-xs-1">
                            BLOCK 10
                        </div>
                        <div class="col-xs-1">
                            BLOCK 11
                        </div>
                        <div class="col-xs-1">
                            BLOCK 12
                        </div>
                    </div>
                </div>
                <button id="directorsPageButton" class="btn btn-lg sm-button upload-btn sm-pageLink" type="button">
                    Director's Page
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../javascripts/projectPage_client.js"></script>
</body>