extends layout.pug
block variables
    - var pageTitle = "Project Page"
    - var containerClass = "container-editFiles"
block content
    link(rel="stylesheet", href="/stylesheets/style-project-page.css")
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/javascripts/projectPage_client.js")
    h3 Make a Project!
    div(id="projectPlannerContainer", class="project-planner")
        button(id="add_0", onclick="projectAddition(this.id)", class="project-planner_addition sm-button") +
    div
        label(for="input_name") Name:
        input(id="input_name" type="text" name="name")
    div
        label(for="input_creator") Creator:
        input(id="input_creator" type="text" name="creator")
    div
        label(for="input_description") Description:
        input(id="input_description" type="text" name="description")
    div
        label(for="input_tags") Tags:
        input(id="input_tags" type="text" name="tags")
    hr
    button(onclick="window.location.href='/directors'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button")
         | Director's Page
    button(onclick="saveNewProject()", class="btn btn-lg sm-button upload-btn sm-save", type="button")
        | Save New Project
    div(class="modal fade", id="objectModal", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button( type="button", class="close", data-dismiss="modal")
                        | &times;
                    h4(id="popupHeader", class="modal-title")
                        | Edit Segment
                div( class="modal-body project-page-modal")
                    | Current Selection
                    div(id="projectPage-CurrentSelection")
                    hr
                    | Change Content
                    .project-page-modal_body-title-buttons
                        button( onclick="buttonListClips()", type="button", class="btn btn-default sm-button sm-pageLink" )
                            | List Clips
                        button(onclick="buttonListCards()", type="button", class="btn btn-default sm-button sm-pageLink")
                            | List Cards
                    hr
                    | List here
                    div(id="projectPage-contentBlock")
                .modal-footer
                    button( onclick="deleteBlock()", type="button", class="btn btn-default sm-button sm-delete" data-dismiss="modal").
                        Delete
                    button( type="button", class="btn btn-default sm-button sm-cancel" data-dismiss="modal").
                        Cancel
                    button( onclick="saveContent()", type="button", class="btn btn-default sm-button sm-save" data-dismiss="modal").
                        Save
    div(class="modal fade", id="confirmDeleteModal", role="dialog")