{{> head pageTitle='Project Page' }}
<body>
<div class="container container-editProject">
    <div class="panel panel-default ">
        <div class="panel-body">
            {{> header pageTitle='Project Page' }}
            <div class="sm_fade-in">
                <h3>Make a Project!</h3>
                <div id="projectPlanner">

                </div>
                <div class="input-block-display">
                    <div>
                        <label for="input_name">Name:</label><input id="input_name" type="text" name="name">
                    </div>
                    <div>
                        <label for="input_creator">Creator:</label><input id="input_creator" type="text" name="creator">
                    </div>
                    <div>
                        <label for="input_description">Description:</label><input id="input_description" type="text" name="description">
                    </div>
                    <div>
                        <label for="input_tags">Tags:</label><input id="input_tags" type="text" name="tags">
                    </div>
                </div>
                <button id="directorsPageButton" class="btn btn-lg sm-button upload-btn sm-pageLink" type="button">
                    Director's Page
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../javascripts/projectPage_client.js"></script>
</body>