extends layout.pug
block variables
    - var pageTitle = "Main Menu"
block content
    .col-xs-12.col-sm-2.col-md-1
        include partials/left_bar_icon.pug
    .hidden-xs.col-sm-3.col-md-2
        include partials/left_bar_main.pug
    .col-xs-12.col-sm-7.col-md-9
        | Main segment