extends layout.pug
block variables
    - var pageTitle = "Main Menu"
block content
    .col-xs-12.col-sm-2.col-md-1
        include partials/left_bar_icon.pug
    .hidden-xs.col-sm-3.col-md-2
        include partials/left_bar_main.pug
    .col-xs-12.col-sm-7.col-md-9.sm_main-content
        .row
            .col-xs-12.col-md-7.sm_main-page_tap-here_container
                img(onclick="window.location.href='/projectPage/new'",class="sm_main-page_tap-here_img",src="/content/images/main-page_tap-here.png", alt="Tap here to make a movie")
            .col-xs-12.col-md-5
                .col-xs-6.col-md-12.sm_no-padding
                    img(onclick="window.location.href='/theater'",class="sm_main-page_now-playing_img",src="thumbnails/1f2a872e21e5340a7e9d923bcdb8bde2.png")
                .col-xs-offset-1.col-xs-5.col-md-12.sm_no-padding
                    .sm_main-page_now-playing_title A cool movie
                    .sm_main-page_now-playing_author Daxit
                    .sm_main-page_now-playing_appreciate Appreciate
        .row.sm_main-page_appreciated_header
            | Most appreciated
        .row
            .col-xs-12.col-md-4.sm_main-page_appreciated_block
                .col-xs-6.sm_no-padding.col-md-12
                    img(class="sm_main-page_appreciated_img",src="thumbnails/1f2a872e21e5340a7e9d923bcdb8bde2.png")
                .col-xs-5.col-xs-offset-1.sm_no-padding.col-md-12.sm_main-page_appreciated_txt Movie C
            .col-xs-12.col-md-4.sm_main-page_appreciated_block
                .col-xs-6.sm_no-padding.col-md-12
                    img(class="sm_main-page_appreciated_img",src="thumbnails/1f2a872e21e5340a7e9d923bcdb8bde2.png")
                .col-xs-5.col-xs-offset-1.sm_no-padding.col-md-12.sm_main-page_appreciated_txt Movie C
            .col-xs-12.col-md-4.sm_main-page_appreciated_block
                .col-xs-6.sm_no-padding.col-md-12
                    img(class="sm_main-page_appreciated_img",src="thumbnails/1f2a872e21e5340a7e9d923bcdb8bde2.png")
                .col-xs-5.col-xs-offset-1.sm_no-padding.col-md-12.sm_main-page_appreciated_txt Movie C