extends layout.pug
block variables
    - var pageTitle = "Main Menu"
block content
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/javascripts/index_client.js")
    .col-xs-12.col-sm-2.col-md-1
        include partials/left_bar_icon.pug
    .hidden-xs.col-sm-3.col-md-2
        include partials/left_bar_main.pug
    .col-xs-12.col-sm-7.col-md-9.sm_main-content
        .row
            .col-xs-12.col-md-7.sm_main-page_tap-here_container
                img(onclick="window.location.href='/projectPage/new'",class="sm_main-page_tap-here_img sm_button",src="/content/images/main-page_tap-here.png", alt="Tap here to make a movie")
            .col-xs-12.col-md-5
                .col-xs-6.col-md-12.sm_no-padding
                    img(onclick="window.location.href='/theater'",class="sm_main-page_now-playing_img sm_button",src="thumbnails/0d884c60d84b6bdda7dbb2b5c25409da.png")
                .col-xs-offset-1.col-xs-5.col-md-12.sm_no-padding
                    .sm_main-page_now-playing_title A Cool Movie
                    .sm_main-page_now-playing_author Daxit Agarwal
        .row.sm_main-page_movie-list-row
            each movie in movies
                - var projRef = JSON.stringify(movie);
                .col-xs-12.col-md-4.sm_main-page_appreciated_block
                    .col-xs-6.sm_no-padding.col-md-12
                        img(onclick="playProject(" + projRef + ")", class="sm_main-page_appreciated_img",src="/thumbnails/" + movie.content[0].target + ".png")
                    .col-xs-5.col-xs-offset-1.sm_no-padding.col-md-12.sm_main-page_appreciated_txt
                        | #{movie.name}