extends layout.pug
block variables
    - var pageTitle = "Project Page"
block content
    script(src="/javascripts/jwplayer/jwplayer.js")
    script(src="/javascripts/Sortable.min.js")
    script(src="/javascripts/projectPage_client.js")

    //- .col-xs-12.col-sm-2.col-md-1
    //-     include partials/left_bar_icon.pug
    .sm_main-content
        .sm_project-page_header
            | Make a Movie

        .sm_project-page_table
            //- Planner
            .sm_project-planner
                p
                    | Drag &amp; drop clips &amp; cards here
                #projectPlannerContainer

            //- Preview, Clips, Cards
            .sm_project-creator
                //- Styling for Preview Container
                .preview
                    .preview_text
                        | Tap a clip to preview
                    #projectPage-CurrentSelection

                //- Styling for Clips
                .actionbar
                    img(src='../content/images/clips.svg')
                    .actionbar_title
                        | Clips
                    div(onclick="buttonListClips()", class="refresh")
                        img(src='../content/images/refresh.svg')
                        .refresh_text
                            | Refresh
                #projectPage-clipBlock

                //- Styling for Cards
                .actionbar.cards
                    img(src='../content/images/cards.svg')
                    .actionbar_title
                        | Cards
                    div(onclick="buttonListCards()", class="refresh")
                        img(src='../content/images/refresh.svg')
                        .refresh_text
                            | Refresh
                #projectPage-cardBlock

        div(class="sm_project-page_next", data-toggle="modal", data-target="#projectModal")
            | Next

    div(class="modal fade", id="projectModal", role="dialog")
      .modal-dialog
          .sm_project-modal
              header
                  | Give your movie a title &amp; an author.
                  div(class="exit", data-dismiss="modal")
                      | &times;
                  //- h4(id="popupHeader", class="modal-title sm_project-page_modal-header-txt")
              main
                  label(for="input_name") Name:
                  input(id="input_name" type="text" name="name")
                  hr
                  label(for="input_creator") Creator:
                  input(id="input_creator" type="text" name="creator")
              footer
                  div( type="button", data-dismiss="modal").
                      Cancel
                  div( type="button", onclick="saveNewProject()").
                      Publish
    div(class="modal fade", id="confirmDeleteModal", role="dialog")
