extends layout.pug
block variables
    - var pageTitle = "Project Page"
block content
    script(src="/javascripts/jwplayer/jwplayer.js")
    script(src="/javascripts/Sortable.min.js")
    script(src="/javascripts/projectPage_client.js")
    .col-xs-12.col-sm-2.col-md-1
        include partials/left_bar_icon.pug
    .col-xs-12.col-sm-10.col-md-11.sm_main-content
        .row
            .col-xs-6
                h3 Your Project
                div(id="projectPlannerContainer", class="project-planner")
                h3 Click A Square To Preview
                div(id="projectPage-CurrentSelection", class="current-selection_block")
            .col-xs-6
                h3 Drag & Drop
                .project-page-modal_body-title-buttons
                    button( onclick="buttonListClips()", type="button", class="btn btn-default sm-button sm-pageLink" )
                        | List Clips
                    button(onclick="buttonListCards()", type="button", class="btn btn-default sm-button sm-pageLink", disabled="disabled")
                        | List Cards
                br
                div(id="projectPage-contentBlock" class="projectPage_content-Block")
        hr
        button(class="btn btn-lg sm-button upload-btn sm-save", type="button", data-toggle="modal", data-target="#projectModal")
            | Save New Project
    div(class="modal fade", id="projectModal", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button( type="button", class="close", data-dismiss="modal")
                        | &times;
                    h4(id="popupHeader", class="modal-title")
                        | Save Project
                div( class="modal-body project-page-modal")
                    div
                        label(for="input_name") Name:
                        input(id="input_name" type="text" name="name")
                    div
                        label(for="input_creator") Creator:
                        input(id="input_creator" type="text" name="creator")
                    div
                        label(for="input_description") Description:
                        input(id="input_description" type="text" name="description")
                    div
                        label(for="input_tags") Tags:
                        input(id="input_tags" type="text" name="tags")
                .modal-footer
                    button( type="button", class="btn btn-default sm-button sm-cancel" data-dismiss="modal").
                        Cancel
                    button( onclick="saveNewProject()", type="button", class="btn btn-default sm-button sm-save").
                        Save
    div(class="modal fade", id="confirmDeleteModal", role="dialog")