extends layout.pug
block variables
    - var pageTitle = "Project Page"
block content
    script(src="/javascripts/jwplayer/jwplayer.js")
    script(src="/javascripts/Sortable.min.js")
    script(src="/javascripts/projectPage_client.js")

    .makeamovie
        //- Header
        .header
            | Make a Movie

        .maincontent

            //- Planner
            .planner
                p
                    | Drag &amp; drop clips &amp; cards here
                #projectPlannerContainer

            //- Preview, Clips, Cards
            .creator

                //- Preview
                .preview
                    h1
                        | Tap a clip to preview
                    #projectPage-CurrentSelection

                //- Clips
                .panelheader
                    img(src='../content/images/clips.svg', class="icon")
                    h1
                        | Clips
                    div(onclick="buttonListClips()")
                        img(src='../content/images/refresh.svg', class="refresh")
                        h2
                            | Refresh
                #projectPage-clipBlock

                //- Cards
                .panelheader.cards
                    img(src='../content/images/cards.svg', class="icon")
                    h1
                        | Cards
                    div(onclick="buttonListCards()")
                        img(src='../content/images/refresh.svg', class="refresh")
                        h2
                            | Refresh
                #projectPage-cardBlock

        //- Next Button
        div(class="next",onclick="openPublishModal()")
            | Next
    //- Modal / Popup
    div(class="modal fade", id="projectModal", role="dialog")
        header
            | Give your movie a title &amp; an author.
            //- h4(id="popupHeader", class="modal-title sm_project-page_modal-header-txt")
        main
            label(for="input_name") Name:
            input(id="input_name" type="text" name="name")
            hr
            label(for="input_creator") Author:
            input(id="input_creator" type="text" name="creator")
            #upload_message
        footer
            div(class="btn cancel",onclick="exitPublishModal()")
                | Cancel
            div(class="btn", onclick="saveNewProject()")
                | Publish
        div(class="exit", onclick="exitPublishModal()")
            | &times;
        //- Modal / Popup
    div(class="modal fade", id="successModal", role="dialog")
        header
            | Movie uploaded successfully!
        main
        footer
            div(class="btn cancel",onclick="exitSuccessModal()")
                | Continue
        div(class="exit", onclick="exitSuccessModal()")
            | &times;
