extends layout.pug
block variables
    - var pageTitle = "Project Page"
block content
    script(src="/javascripts/jwplayer/jwplayer.js")
    script(src="/javascripts/Sortable.min.js")
    script(src="/javascripts/projectPage_client.js")
    .col-xs-12.col-sm-2.col-md-1
        include partials/left_bar_icon.pug
    .col-xs-12.col-sm-10.col-md-11.sm_main-content
        .row.sm_project-page_header
            | Make a Movie
        .row.sm_project-page_table
            .col-xs-2.sm_project-page_gray-bg
                #projectPlannerContainer
                | Drag and drop clips and cards here
            .col-xs-6
                .row.sm_project-page_yellow-bg
                    div(onclick="buttonListClips()")
                        | Clips -- refresh
                .row.sm_project-page_gray-bg
                    #projectPage-clipBlock
                .row.sm_project-page_gray-bg
                    | Add 10 more clips!
            .col-xs-4
                .row.sm_project-page_yellow-bg
                    div(onclick="buttonListCards()")
                        | Cards -- Refresh
                .row.sm_project-page_gray-bg
                    #projectPage-cardBlock
                .row.sm_project-page_gray-bg
                    #projectPage-CurrentSelection
                    | Tap a clip to preview
        .row
            div(data-toggle="modal", data-target="#projectModal")
                | Next
    div(class="modal fade", id="projectModal", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button( type="button", class="close", data-dismiss="modal")
                        | &times;
                    h4(id="popupHeader", class="modal-title")
                        | Save Project
                div( class="modal-body project-page-modal")
                    div
                        label(for="input_name") Name:
                        input(id="input_name" type="text" name="name")
                    div
                        label(for="input_creator") Creator:
                        input(id="input_creator" type="text" name="creator")
                    div
                        label(for="input_description") Description:
                        input(id="input_description" type="text" name="description")
                    div
                        label(for="input_tags") Tags:
                        input(id="input_tags" type="text" name="tags")
                .modal-footer
                    button( type="button", class="btn btn-default sm-button sm-cancel" data-dismiss="modal").
                        Cancel
                    button( onclick="saveNewProject()", type="button", class="btn btn-default sm-button sm-save").
                        Save
    div(class="modal fade", id="confirmDeleteModal", role="dialog")