extends layout_empty.pug
block variables
    - var pageTitle = "Theater"
block content
    .theater-full
        .theater-up_next
            | Waiting..
        .theater-text
            .theater-text-container
                | Click here if video does not start automatically
        div(onclick="theaterScreenClick()",id="content-feed-container")
            #contentfeed
            #contentfeed2
            #movieTitle
                | Waiting...
        script(src="/javascripts/jwplayer/jwplayer.js")
        script(src="socket.io/socket.io.js")
        script(src="/javascripts/theater_client.js")
