extends layout.pug
block variables
    - var pageTitle = "Theater"
block content
    link(rel="stylesheet", href="/stylesheets/theater_desktop.css")
    h1
        | Theater
    .view
        #theater
        .title
            | Title
        .author
            | Author
    .explorer
        h2
            | Featured Movies
        #movies
            #clip
            .title
                | Title
            .author
                | Author
        div(onclick="window.location.href='/'", type="button", class="button")
            | Make your own movie &#8594;
