extends layout.pug
block variables
    - var pageTitle = "Theater"
block content
    link(rel="stylesheet", href="/stylesheets/theater_desktop.css")
    h1
        | Theater
    .view
        video(id="video",preload="none", muted)
        .title
            | #{name}
        .author
            | #{creator}
    .explorer
        h2
            | Featured Movies
        #movies
            #clip
            .title
                | Title
            .author
                | Author
        div(onclick="window.location.href='/'", type="button", class="button")
            | Make your own movie &#8594;
    script.
        var contentList = [];
    each file in content
        script.
            contentList.push("#{file}");
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/remote_theater_client.js")
