{{> head }}
<body backgroundColor="#000000;">
<div id="contentfeed"></div>
<script src="/javascripts/jwplayer/jwplayer.js"></script>
<script>jwplayer.key = "hKr0It8yDiMnKte/Cy3p9KDJ74XfRooWYAiO8A==";</script>
<script>

    function myResize(event) {
        var height = window.innerHeight;
        var width = window.innerWidth;
        if (playerInstance) {
            playerInstance.resize(width, height);
        }
    }
    myResize();
    window.onresize = myResize;

    var w = window.innerWidth;
    var h = window.innerHeight;

    var playerInstance = jwplayer("contentfeed");
    playerInstance.setup({
        file: "/content/timeout.mp4",
        controls: false,
        autostart: true,
        autoplay: true,
        repeat: true,
        width: w, // * .5,
        height: h
    });

    playerInstance.onComplete(function () {
        // console.log('complete');
        socket.emit('playNext', '');
    });

    playerInstance.onTime(function () {
        if (randomSkip) {
            var time = playerInstance.getDuration();
            if (time > 8) {
                var skip = Math.random() * (time - 8);
                startTime = skip;
                console.log("skip " + skip)
                playerInstance.seek(skip);
            } else {
                startTime = 0;
            }
            randomSkip = false;
        }
        var position = playerInstance.getPosition();
        var elapsed = position - startTime;
        if (elapsed > minTimeElapsed && choiceReady) {
            console.log('switching from elapsed time');
            choiceReady = false;
        }
    });
</script>
</body>
</html>
