<div class="container-fluid">
    <div class="row" id="grab">
        <% files.forEach(function(file) { %>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail_container">
                <div class="thumbnail">
                    <img src='thumbnails/<%= file %>' id='<%= file %>' style="max-height:100%">
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
