{{> head pageTitle='Upload Page'}}
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {{> header pageTitle='Upload Page' }}
            <div class="sm_fade-in">
                <div id='alertSpace' class="text-alert" style='display: none'>
                    <!-- This is where alerts are displayed -->
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label class="radio-inline">
                            <input type="radio" value="video" name="optradio" checked="true">
                            VideoClip
                        </label>
                        <div class="uploadSupportedFormats">
                            (MP4, WebM, FLV)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label class="radio-inline">

                            <input type="radio" value="card" name="optradio">
                            Title Card
                        </label>
                        <div class="uploadSupportedFormats">
                            (JPG/JPEG, PNG, GIF)
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label class="radio-inline">
                            <input type="radio" value="audio" name="optradio">
                            Audio Track
                        </label>
                        <div class="uploadSupportedFormats">
                            (AAC, MP3, Vorbis)
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"></div>
                </div>
                <button id="selectButton" class="btn btn-lg sm-button upload-btn sm-select" type="button">Select
                    File
                </button>
                <button id="submitButton" disabled="true" class="btn btn-lg sm-button upload-btn sm-submit"
                        type="button">Submit
                </button>
                <div>
                    <h4 class="selected-file-title">Selected File:</h4>
                </div>
                <div id="uploadList">
                </div>
                <hr>
                <button id="viewFilesButton" class="btn btn-lg sm-button upload-btn sm-pageLink" type="button">View
                    Files
                </button>
            </div>
        </div>
    </div>
</div>

<input id="upload-input" type="file" name="upload" accept=".gif,.png,.jpg,.jpeg,.mp4,.webm,.flv,.aac,.mp3,.vorbis"></br>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/upload_client.js"></script>
</body>