<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Silent Movie: Directors Page</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Silent Movie</h2>
                    <h4>Upload Page</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <button id="selectButton" class="btn btn-lg upload-btn sm-select" type="button">Select File(s)</button>
                    <button id="submitButton" class="btn btn-lg upload-btn sm-submit" type="button">Submit</button>
                    <div>
                        <label class="radio-inline"><input type="radio" name="optradio" checked="true">Video Clip</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Title Card</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Audio Track</label>
                    </div>
                    <div class="uploadSupportedFormats">
                        <div>
                            (MP4, WebM, FLV)
                        </div>
                        <div>
                            (AAC, MP3, Vorbis)
                        </div>
                    </div>
                    <div>
                        <h4>Files:</h4>
                    </div>
                    <div id="uploadList">
                    </div>
                    <button id="viewFilesButton" class="btn btn-lg upload-btn sm-viewFiles" type="button">View Files</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/upload_client.js"></script>
</body>