extends layout.pug
block variables
    - var pageTitle = "View Files"
    - var containerClass = "container-editFiles"
block content
    script(src="/javascripts/jwplayer/jwplayer.js")
    script(src="/javascripts/viewFiles_client.js")
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    #uploadedFileList
        each file, index in files
            - var fileRef = JSON.stringify(file);
            div(id="fileRow_" + file.target, class="row uploaded-file-row")
                .col-xs-2
                    button( onclick="playFile(" + fileRef  + ")", class="btn btn-lg sm-button sm-play", data-toggle="modal", data-target="#playModal").
                        Play
                .col-xs-4
                    | #{file.name}
                .col-xs-1
                    | #{file.extension}
                .col-xs-1
                    | #{file.useType}
                .col-xs-2
                    button( onclick="goToEditPage(" + fileRef + ")", class="btn btn-lg sm-button sm-edit").
                        Edit
                .col-xs-2
                    button(class="btn btn-lg sm-button sm-delete", onclick="deletePressed(" + fileRef + ")", data-toggle="modal" data-target="#confirmDeleteModal").
                        X
        br
        hr
        button(id="uploadFilesButton", class="btn btn-lg sm-button edit-btn sm-pageLink", type="button").
            Upload Files
    div(class="modal fade", id="playModal", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button( type="button", class="close", data-dismiss="modal").
                        &times;
                    h4(id="popupHeader", class="modal-title")
                div(id="contentfeed", class="modal-body")
                .modal-footer
                    button( type="button", class="btn btn-default sm-button sm-cancel" data-dismiss="modal").
                        Close
    div(class="modal fade", id="confirmDeleteModal", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button( type="button", class="close", data-dismiss="modal").
                        &times;
                    h4(class="modal-title") Delete Content
                div(class="modal-body delete-modal-body")
                    div(id="deleteModalBody")
                        | N/A
                    button( type="button", onclick="confirmDelete()" class="btn btn-default sm-button sm-delete", data-dismiss="modal").
                        Confirm
                .modal-footer
                    button( type="button", class="btn btn-default sm-button sm-cancel", data-dismiss="modal").
                        Close
