{{> head }}
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            {{> header pageTitle='Projects Page' }}
            <div class="sm_fade-in">
                <h3>Look at other projects!</h3>
                {{#each projects}}
                    {{name}}
                {{/each}}
                <button id="directorsPageButton" class="btn btn-lg sm-button upload-btn sm-pageLink" type="button">
                    Director's Page
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<script src="javascripts/index.js"></script>
</body>