{{> head }}
<body>
<script>
    var files = {{{files}}};
</script>
<div class="container container-editFiles">
    <div class="panel panel-default">
        <div class="panel-body">
            {{> header pageTitle='View Files' }}
            <div class="sm_fade-in">
                <div id="uploadedFileList">
                    <!-- Where the files list is populated -->
                </div>
                <br>
                <hr>
                <button id="uploadFilesButton" class="btn btn-lg sm-button edit-btn sm-pageLink" type="button">
                    Upload Files
                </button>
            </div>
        </div>

        <div class="modal fade" id="playModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="popupHeader" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <video controls>
                            <source src="movie.mp4" type="video/mp4"/>
                            <source src="movie.webm" type="video/webm"/>
                            <source src="movie.flv" type="video/flv"/>
                            <!-- fallback -->
                            Your browser does not support the <code>video</code> element.
                        </video>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default sm-button sm-cancel" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/viewFiles.js"></script>
</body>