<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Silent Movie: View Files</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<script>
    var files = {{{files}}};
</script>
<div class="container container-editFiles">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>
                        <a href="/" class="nounderline">
                            <div class="website-header">Silent Movie</div>
                        </a>
                    </h2>
                    <h4>View Files</h4>
                    <div id="uploadedFileList">
                        <!-- Where the files list is populated -->
                    </div>
                    <br>
                    <hr>
                    <button id="uploadFilesButton" class="btn btn-lg sm-button edit-btn sm-pageLink" type="button">
                        Upload Files
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/viewFiles.js"></script>
</body>