extends layout.pug
block variables
    - var pageTitle = "View Projects"
block content
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    h3 Look at other projects!
    each project in projects
        | #{project.name}
    button( onclick="window.location.href='/directors'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button")
        | Director's Page
    button( onclick="window.location.href='/projectPage/new'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button")
        | Make a Project!