extends layout.pug
block variables
    - var pageTitle = "View Projects"
block content
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="../../javascripts/viewProjects_client.js")
    h3 Look at other projects!
    .projectsList
        each project in projects
            - var projRef = JSON.stringify(project);
            div(id="projRow_" + project.name, class="row" )
                .col-xs-4
                    button( onclick="playProject(" + projRef + ")", class="view-files_play", data-toggle="modal", data-target="#playModal")
                        img(src="/thumbnails/" + project.content[0].target + ".png")
                .col-xs-1
                    | #{project.name}
                .col-xs-3
                    | #{project.description}
                .col-xs-2
                    button(disabled="disabled", onclick="goToEditProject(" + projRef + ")", class="btn btn-lg sm-button sm-edit", ).
                        Edit
                .col-xs-2
                    button( class="btn btn-lg sm-button sm-delete", onclick="deletePressed(" + projRef + ")", data-toggle="modal" data-target="#confirmDeleteModal").
                        X
    button( onclick="window.location.href='/projectPage/new'", class="btn btn-lg sm-button upload-btn sm-pageLink", type="button")
        | Make a Project!
    div(class="modal fade", id="confirmDeleteModal", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button( type="button", class="close", data-dismiss="modal").
                        &times;
                    h4(class="modal-title") Delete Project
                div(class="modal-body delete-modal-body")
                    div(id="deleteModalBody")
                        | N/A
                    button( type="button", onclick="confirmDelete()" class="btn btn-default sm-button sm-delete", data-dismiss="modal").
                        Confirm
                .modal-footer
                    button( type="button", class="btn btn-default sm-button sm-cancel", data-dismiss="modal").
                        Close