/* Styling for the Home Page */
html {
  height: auto;
  overflow: auto;
  transform: scale(1);
}
body {
  background-color: #37474F;  
  width: auto;
  height: auto;
  text-align: left;
}
#credits {
  display: none;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
  text-align: left;
  line-height: 1.6em;
  font-size: 1.3em;
  max-width: 30em;
}
#credits span {
  font-size: 1.5em;
  display: block;
  font-weight: 500;
}
#credits .emp {
  font-size: 1.3em;
}
b {
  font-weight: 500;
}
#nav {
  padding: 1em 2em 1em 2em;
  background: #B2EBF2;
  position: relative;
}
#nav svg {
  fill: #37474F;
  width: 1.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2em;
  cursor: pointer;
}
#content {
  padding-top: 1em;
  margin-left: 2em;
  text-align: left;
}
h1 {
  color: #37474F;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  margin: 0;
  max-width: 80%;
}
h2 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 1.5em 0 0 0;
}
h3 {
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0.5em 0 0 0;
}
h4 {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0.8em 0 0 0;
}
p {
  max-width: calc(100% - 2em);
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0.07em;
}

#nowplaying {
  background-color: rgba(0, 0, 0, 0.74);
  width: calc(100% - 2em);
  height: 18em;
  margin-top: 3em;
  position: relative;
  
}
#nowplaying .title {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: absolute;
  margin: 0;
  left: 0.7em;
  top: 0.4em;
}

.button {
  position: relative;
  text-align: left;
  width: calc(100% - 9rem);
  display: block;
  background-color: #455A64;
  border: none;
  padding: 1em;
  color: white;
  font-size: 1.4em;
  padding-left: 4em;
  font-weight: 500;
  max-width: 10em;
}

.button svg {
  position: absolute;
  display: block;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5em;
  max-width: 1.8em;
  fill: #ffffff;
}

.player, .info, .actions {
  width: auto;
}
.player {
  display: none;
  width: 100%;
  max-width: 30em;
}


/* For Laptops */
@media only screen and (min-device-width: 1024px) {
  html {
    height: 100vh;
    overflow: hidden;
    transform: scale(0.7);
  }
  body {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 2em;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 60em;
    transform: translate(-50%, -50%);
  }
  #nav {
    display: block;
    background: none;
  }
  #nav svg {
    fill: #ffffff;
  }
  h1 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 1em;
  }
  h2 {
    margin: 0;
    font-size: 2.2em;
  }
  h2 br {
    display: none;
  }
  p {
    line-height: 1.6em;
  }
  #nowplaying {
    height: 30em;
    margin-top: 0;
  }
  #nowplaying .title {
    font-size: 1.6em;
  }
  .button {
    font-size: 1.6em;
    font-weight: 400;
  }
  .button:hover {
    cursor: pointer;
    background-color: #B2EBF2;
    color: #37474F;
    font-weight: 500;
  }
  .button:hover svg {
    fill: #37474F;
  }
  .player {
    display: none;
    font-size: 6em;
    font-variant: small-caps;
    text-align: left;
    font-weight: 500;
  }
  .player, .info {
    position: relative;
    width: 60%;
    float: left;
  }
  .actions {
    position: relative;
    width: 40%;
    padding-top: 2em;
    float: left;
  }
}

@media only screen and (min-device-width: 1375px) {
  html {
    transform: scale(1);
  }
}
