/* Styling for the Make A Movie page */
.makeamovie {
  transition: 1s transform;
}
.makeamovie .header {
  font-size: 2em;
  height: 18vh;
  line-height: 18vh;
  padding-left: 1em;
  text-align: center;
}

.makeamovie .maincontent {
  height: 75vh;
  width: 100vw;
}


/* Styling for the Project Page Planner (Left Column) */

.planner {
  width: 30%;
  height: 100%;
  background-color: #37474F;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.planner p {
  text-align: left;
  line-height: 1.8em;
  font-size: 1.1em;
  position: absolute;
  width: 5em;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#projectPlannerContainer {
  height: calc(100% - 1em);
  padding-top: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
  position: relative;
}

#projectPlannerContainer .content-draggable {
  width: calc(100% - 2em);
  padding-top: calc(75% - 2em);
  position: relative;
  margin: 0 1em 1em 1em;
}

#projectPlannerContainer img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


/* Styling for the Project Page Creator (Right Column) */

.creator {
  width: 70%;
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
  display: block;
}


/* Preview Panel */

.creator .preview {
  width: 100%;
  height: 25vh;
  position: relative;
  background-color: #263238;
}

.preview h1 {
  font-size: 1em;
  width: 12em;
  position: absolute;
  max-width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#projectPage-CurrentSelection {
  width: 100% !Important;
  height: 100% !Important;
}

#projectPage-CurrentSelection > * {
  position: absolute;
  top: 50%;
  left: 50%;
  /*
  min-width: 120%;
  min-height: 120%;
*/
  transform: translate(-50%, -50%);
}


/* Clips & Cards Header Bars */

.panelheader {
  background-color: #B0BEC5;
  height: 6vh;
  line-height: 6vh;
  color: black;
  position: relative;
  text-align: left;
}

.panelheader h1 {
  font-size: 1.15em;
  font-weight: 500;
  margin-left: 1em;
  display: inline-block;
  vertical-align: middle;
}

.panelheader h2 {
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
  margin: auto 1em;
  display: inline-block;
}

.panelheader .icon {
  height: 1.15em;
  margin-left: 1em;
  display: inline-block;
  vertical-align: middle;
}

.panelheader .refresh {
  height: 0.9em;
  margin-left: 1em;
  display: inline-block;
  vertical-align: middle;
}

.panelheader div {
  background-color: rgba(0, 0, 0, 0.15);
  height: 6vh;
  position: absolute;
  right: 0;
  top: 0;
}


/* Clips & Cards Panels */

#projectPage-clipBlock,
#projectPage-cardBlock {
  height: calc(25vh - 0.7em);
  padding-top: 0.7em;
  padding-left: 0.7em;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #263238;
}

#projectPage-cardBlock {
  height: calc(13vh - 0.7em);
}

#projectPage-clipBlock .content-draggable,
#projectPage-cardBlock .content-draggable {
  width: calc(33.33% - 0.7em);
  height: calc(50% - 0.7em);
  position: relative;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  display: inline-block;
}

#projectPage-cardBlock .content-draggable {
  height: calc(100% - 0.7em);
}

#projectPage-clipBlock img,
#projectPage-cardBlock img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


/* Styling for Project Page Next Button */

.makeamovie .next {
  background-color: #B0BEC5;
  color: black;
  font-size: 1.8em;
  font-weight: 500;
  height: 7vh;
  line-height: 7vh;
  position: relative;
  z-index: 100;
}


/* For Laptops */

@media (min-device-width: 1024px) and (orientation: landscape) {
  /* Make a Movie styling for Laptops */
  .makeamovie {
    max-width: 1400px;
    margin: auto;
  }
  .makeamovie .header {
    text-align: center;
  }
  .makeamovie .maincontent {
    height: calc(75vh - 8em);
    max-width: 1400px;
    max-height: 800px;
    margin: auto;
  }
  .makeamovie .planner {
    margin-left: 3em;
    margin-right: 3em;
    width: calc(30% - 6em);
    max-width: 15em;
  }
  .makeamovie .creator {
    position: relative;
    vertical-align: top;
    margin-left: 0em;
    margin-right: 3em;
    width: calc(70% - 3em);
  }
  .creator .preview {
    width: calc(50% - 2em);
    padding-top: 31%;
    height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: visible;
  }
  #projectPage-CurrentSelection {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    max-height: 100%;
  }
  #projectPage-CurrentSelection > * {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
  }
  .panelheader {
    width: calc(50% - 2em);
    height: 3em;
    line-height: 3em;
  }
  .panelheader div {
    height: 3em;
  }
  .panelheader div:hover {
    cursor: pointer;
    background-color: #ECEFF1;
  }
  #projectPage-clipBlock {
    height: calc(100% - 3.7em);
    width: calc(50% - 2.7em);
  }
  #projectPage-cardBlock {
    height: calc(50% - 3.7em);
    width: calc(50% - 2.7em);
    position: absolute;
    right: 0;
    top: 3em;
  }
  #projectPage-clipBlock .content-draggable,
  #projectPage-cardBlock .content-draggable {
    width: calc(50% - 0.7em);
    height: 0;
    padding-top: calc(37.5% - 0.7em);
    position: relative;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
    display: inline-block;
  }
  #projectPage-clipBlock img,
  #projectPage-cardBlock img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .panelheader.cards {
    position: absolute;
    right: 0;
    top: 0;
  }
  .makeamovie .next {
    width: 5em;
    height: 2em;
    line-height: 2em;
    margin: 2em auto;
    cursor: pointer;
  }
  .makeamovie .next:hover {
    background-color: #ECEFF1;
  }
}
