html,
body {
    height: 100%;
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.row {
    margin: 0;
}
.left_bar_header {
    height: 26%;
}
.left_bar_child {
    height: 17%;
}
.left_bar_child > *, .left_bar_header > * {
    position: relative;
    top: 20%;
}
.left_bar_text-main {
    line-height: 50px;
    font-size: 30px;
    font-weight: 500;
}
.left_bar_child_make-a-movie > * {
    top: 5%;
}
.left_bar_text-icon {
    line-height: 50px;
    font-size: 40px;
    font-weight: 600;
}
.left_bar_main * {
    position: relative;
    text-align: left;
    left: 0;
}


.sm_main-page_tap-here_img {
    width: 100%;
}

.sm_main-page_now-playing_img {
    width: 100%;
}
.sm_main-page_appreciated_img {
    width: 100%;
}
.sm_main-content {
    padding-top: 40px;
    padding-right: 30px;
}
.sm_main-page_appreciated_header {
    text-align: left;
    padding-left: 15px;
    font-size: 30px;
    margin-bottom: 10px;
}
.sm_main-page_appreciated_block {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}
.sm_main-page_now-playing_title {
    text-align: left;
    font-size: 35px;
}
.sm_main-page_now-playing_author {
    text-align: left;
    font-size: 20px;
}
.sm_main-page_now-playing_appreciate {
    background-color: #353535;
    padding: 8px;
    font-size: 20px;
    float: left;
    text-align: left;
    margin-top: 15px;
    color: #aaa;
}
.sm_no-padding {
    padding: 0;
}
.sm_main-page_tap-here_container {
    margin-bottom: 30px;
}

.sm_button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
    cursor: pointer;
}
.sm_project-page_header {
    font-size: 35px;
    margin-bottom: 20px;
}
.sm_project-page_gray-bg {
    background-color: #353535;
}
.sm_project-page_next-button {
    background-color: #FFD447;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: black;
    padding: 3px;
    text-align: center;
    margin-bottom: 15px;
}
.sm_project-page_modal-button {
    background-color: #FFD447;
    display: inline-block;
    margin-right: 18%;
    width: 120px;
    font-size: 25px;
    color: black;
    padding: 3px;
    text-align: center;
}
.sm_project-page_modal-header-txt {
    font-size: 30px;
}
.sm_project-page_modal-header {
    background-color: #262B29;
}
.sm_project-page_modal-content {
    background-color: #303633;
}
.sm_project-page_modal-body {
    font-size: 20px;
}
.sm_project-page_modal-body input{
    background-color: #1A1A1A;
    margin: 10px;
    border: none;
}
.sm_project-page_preview-text {
    font-size: 20px;
    padding: 5px;
}
.sm_project-page_yellow-txt {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
}
.sm_project-page_yellow-bg {
    background-color: #FFD447;
    color: black;
}
.sm_project-page_add-text {
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.sm_project-page_bottom-padding {
    margin-bottom: 20px;
}
.sm_project-page_drag-text {
    color: gray;
    padding-bottom: 10px;
}
#projectPlannerContainer {
    padding-top: 15px;
    min-height: 300px;
}
.sm_project-page_card-list {
    margin-bottom: 15px;
}
#projectPage-clipBlock > * {
    width: 30%;
    margin: 1%;
    display: inline-block;
}
#projectPage-cardBlock > * {
    width: 45%;
    margin: 2%;
    display: inline-block;
}
#projectPlannerContainer > * {
    width: 90%;
    margin: auto auto 15px;
}
#projectPlannerContainer img, #projectPage-clipBlock img, #projectPage-cardBlock img {
    width: 100%;
}
#projectPage-CurrentSelection *{
    width: 100%;
}

@media (max-width: 760px) { /* xs media */
    .left_bar_header {
        height: 60px;
    }

    .left_bar_child {
        height: 60px;
    }

    .left_bar_text-icon {
        font-size: 35px;
    }

    .left_bar_header > * {
        padding: 0;
        position: relative;
        top: 13px;
        font-size: 40px;
    }
    #projectPage-clipBlock > *{
        width: 90%;
        margin: 3%;
    }
    #projectPage-cardBlock > *{
        width: 90%;
        margin: 3%;
    }
    #projectPlannerContainer {
        min-height: 600px;
    }

    .sm_xs_no-padding {
        padding: 0;
    }

    .sm_project-page_preview-block {
        position: absolute;
        top: -400px;
        width: 300%;
        left: -200%;
    }
    .sm_project-page_header {
        margin-top: 350px;
    }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/
.theater-text {
    position: absolute;
    width: 100%;
    z-index: 10;
    color: gray;
    visibility: hidden;
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 990px) {
    .sm_main-page_appreciated_header {
        margin-top: 30px;
    }
    .theater-text {
        visibility: visible;
    }


}

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/