html,
body {
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.row {
    margin: 0;
}
.left_bar_header {
    height: 26%;
}
.left_bar_child {
    height: 17%;
}
.left_bar_child > *, .left_bar_header > * {
    position: relative;
    top: 20%;
}
.left_bar_text-main {
    line-height: 50px;
    font-size: 30px;
    font-weight: 500;
}
.left_bar_child_make-a-movie > * {
    top: 5%;
}
.left_bar_text-icon {
    line-height: 50px;
    font-size: 40px;
    font-weight: 600;
}
.left_bar_main * {
    position: relative;
    text-align: left;
    left: 0;
}
@media (max-width: 760px) { /* xs media */
    .left_bar_header {
        height: 60px;
    }

    .left_bar_child {
        height: 60px;
    }

    .left_bar_text-icon {
        font-size: 35px;
    }

    .left_bar_header > * {
        padding: 0;
        position: relative;
        top: 13px;
        font-size: 40px;
    }
}

.sm_main-page_tap-here_img {
    width: 100%;
}

.sm_main-page_now-playing_img {
    width: 100%;
}
.sm_main-page_appreciated_img {
    width: 100%;
}
.sm_main-content {
    padding-top: 40px;
    padding-right: 30px;
}
.sm_main-page_appreciated_header {
    text-align: left;
    padding-left: 15px;
    font-size: 30px;
    margin-bottom: 10px;
}
.sm_main-page_appreciated_block {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}
.sm_main-page_now-playing_title {
    text-align: left;
    font-size: 35px;
}
.sm_main-page_now-playing_author {
    text-align: left;
    font-size: 20px;
}
.sm_main-page_now-playing_appreciate {
    background-color: #252525;
    padding: 8px;
    font-size: 20px;
    float: left;
    text-align: left;
    margin-top: 15px;
}
.sm_no-padding {
    padding: 0;
}
.sm_main-page_tap-here_container {
    margin-bottom: 30px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) */
@media (max-width: 990px) {
    .sm_main-page_appreciated_header {
        margin-top: 30px;
    }
}

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/