html,
body {
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.row {
    margin: 0;
}
.left_bar {
    height: 100%;
}
.left_bar_header {
    height: 26%;
}
.left_bar_child {
    height: 17%;
}
.left_bar_child > *, .left_bar_header > * {
    position: relative;
    top: 20%;
}
.left_bar_text-main {
    line-height: 40px;
    font-size: 30px;
    font-weight: 500;
}
.left_bar_child_make-a-movie > * {
    top: 0;
}
.left_bar_text-icon {
    line-height: 40px;
    font-size: 40px;
    font-weight: 600;
}
.left_bar_main * {
    position: relative;
    text-align: left;
    left: 0;
}
