@font-face {
   font-family: myFirstFont;
   src: url(/stylesheets/font_Caligo1.0.ttf);
}
div {
   font-family: myFirstFont;
}
h1 {
    font-size: 96px;
  font-family: myFirstFont;
  margin-bottom: -50px;
  margin-top: 0px;
}
h2 {
    font-size: 42px;
  font-family: myFirstFont;
  margin-bottom:  15px;
}
h3 {
    font-size: 36px;
  font-family: myFirstFont;
  margin-bottom:  15px;
}
h3 {
    font-size: 18px;
  font-family: myFirstFont;
  margin-bottom:  15px;
}
h4 {
    font-size: 26px;
  font-family: myFirstFont;
  margin-bottom:  15px;
}
h4 {
    font-size: 26px;
  font-family: myFirstFont;
  margin-bottom:  15px;
}
h5 {
    font-size: 24px;
  font-family: myFirstFont;
  margin-bottom:  15px;
}
h5 {
    font-size: 24px;
  font-family: myFirstFont;
  margin-bottom:  15px;
}
.thumbnail_container {
     position: relative;
     width: 100%;
     padding-bottom: 100%; <!-- matching this to above makes it square -->
     float:left;
}

.thumbnail {
    position:absolute;
    width:100%;
    height:100%;
}
.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.hoverOver {
    /*border-style: solid;
 *     border-width: medium;
 *         border-color: blue;
 *             *//*position: relative;*/
    visibility: hidden;
}
.locked {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}
.chatLine {
  margin-left: 25px;
}

img{
    max-height:100%;
    max-width:100%;
}
.submit{
        font-size: 34px;
}
body {
  padding: 9px;
  font-family: "calibri";
  /*background:url(http://www.twitchOdyssey.net/images/farmancover.jpg) no-repeat center center;*/
  /*background-color: yellow;*/
  display:block;
  /*position:absolute;
  background-image:url("../images/newwhite.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width:122px;
  height:148px;
  float:right;
  bottom:0;
  right:0;*/
}
button {
  margin: 0 20px 0 0;
  width: 83px;
}

button#hangupButton {
    margin: 0;
}

video {
  height: 225px;
  margin: 0 0 20px 0;
  width: calc(50% - 12px);
}

video#video1 {
  margin: 0 20px 20px 0;
}

@media screen and (max-width: 400px) {
  button {
    margin: 0 11px 10px 0;
  }

  video {
    height: 90px;
    margin: 0 0 10px 0;
    width: calc(50% - 8px);
  }

  video#video1 {
    margin: 0 10px 10px 0;
  }

}
/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  /*background-color: #FFF;*/
  /*position:absolute;*/
  background-image:url("../images/newwhite.png");
  /*background-repeat:no-repeat;
  background-size: 100% 100%;
  width:122px;
  height:148px;
  float:right;
  bottom:0;
  right:0;*/
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
 // top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #000;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}
.mobileMessages {
    font-size:6.2vw; 
}
.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 100%;
  margin: 5px;
  text-align: center;
}

 Messages atLi/

.chatArea {
  max-height: 80%;
  min-height: 80%;  
  height: 80%;
  width: 80%;
  padding-bottom: 20%;
  /*float: right;*/
  position: absolute;
  //left: 50%;
  //top: 50%;
}
.chatFont {

	font-size: 2.2vw;
}
.messages {
  height: 100%;
  float: left;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-size: 1.1vw;
	float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

.myDiv {
	position:absolute;
	left: 0;
	right: 0;
	top: 50%;
	bottom: 0;
	width: 50%;
	height: 50%;
}

.table {
	width: 100%;
	height: 100%;
}

.thumbnail {
	width: 100%;
	height: 100%;
}

/* Input */
.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  left: -10px;
  right: 0;
  outline: none;
  padding-left: 0px;
  position: relative;
  width: 100%;
  //height: 60px;
}
.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
#simpleUpload {
  padding: 39px;
}

.footer{
  float: right;
  padding-right: 39px;
  text-align: center;
}
/*http://css-tricks.com/css3-progress-bars*/
.meter {
  height: 20px;
  position: relative;
  margin-bottom: 20px;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  display: none;
}
.meter > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(43, 194, 83)), color-stop(1, rgb(84, 240, 84)));
  background-image: -moz-linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

