.project-planner{
    overflow-y: scroll;
    height: 150px;
    -moz-box-shadow:    inset 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow:         inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.project-planner button{
    color: black;
    height: 75px;
    margin: 2px;
}
.project-planner_addition {
    background-color: #c8eec2;
    width: 25px;
    -webkit-animation: stretch-in-addition .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: stretch-in-addition .5s; /* Firefox < 16 */
    -ms-animation: stretch-in-addition .5s; /* Internet Explorer */
    -o-animation: stretch-in-addition .5s; /* Opera < 12.1 */
    animation: stretch-in-addition .5s;
}
.project-planner_addition:only-child {
    width: 25px !important;
}
.project-planner_object {
    background-color: #fff0b2;
    width: 75px;
    -webkit-animation: stretch-in-object .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: stretch-in-object .5s; /* Firefox < 16 */
    -ms-animation: stretch-in-object .5s; /* Internet Explorer */
    -o-animation: stretch-in-object .5s; /* Opera < 12.1 */
    animation: stretch-in-object .5s;
}
.project-planner_object img{
    height: 65px;
    width: 65px;
}
.project-empty {
    background-color: #DDDDDD;
}
.container_project-page .panel {
    margin-top: 30px;
}


.project-page-modal_body-title-buttons * {
    margin-right: 5px;
}
.project-page-modal hr {
    margin-bottom: 10px;
}
.container_project-page img {
    width: 65px;
    height: 65px;
}
.projectPage_content-Block {
    overflow-y: scroll;
    height: 350px;
    -moz-box-shadow:    inset 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow:         inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.current-selection_block {
    width: 360px;
    height: 200px;
}
