/* Styling for the Theater Page */
.theater-text {
  position: absolute;
  padding: 1em;
  width: 100%;
  z-index: 2;
  color: gray;
  visibility: visible;
  background: black;
  min-height: 4em;
}
.theater-up_next-header {
  color: #AAAAAA;
}
.theater-text-container {
  margin: auto;
}

.info, .link {
  display: none;
}

#content-feed-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#video {
  width: 100%;
  height: 100%;
  background-color: black;
}

.theater-up_next-container {
  font-size: 3em;
  width: 100%;
  top: 5%;
  position: absolute;
  z-index: 3;
  display: none;
}

/* For Laptops */
@media only screen and (min-device-width: 1024px) {
  /* Other sytling for laptops */
  .theater-text {
    visibility: hidden;
  }
}

#movieTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  font-size: 2em;
}

#theater-overlay {
  z-index: 5;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
}

/* Please set this to 6000px when not testing */
@media (min-device-width: 6000px){

  #movieTitle {
    position: relative;
    top: -160px;
  }

  #theater-overlay {
  /*  display: inline-block; */
  }

  #content-feed-container {
    padding-left: 23%;
    padding-top: 6.8%;
    width: 42.6%;
    height: 88%;
  }

  #video {
    border-radius: 10em;
    position: relative;
  }


  .theater-full {
    height: 100%;
    width: 100%;
    background-image: url("../content/images/theater.png");
    background-size: 100% 100%;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

  .info, .link {
    display: block;
    position: fixed;
    right: 1.5em;
    font-size: 7em;
    width: 35vw;
    text-align: left;
    font-family: 'Roboto', sans-serif
  }

  .info {
    top: 2em;
    font-weight: 500;
  }
  .link {
    top: 70%;
    transform: translateY(-50%);
  }
  .link .url {
    display: block;
    margin-left: 5.5em;
  }

  .info img {
    height: 4em;
    display: block;
    margin-bottom: 1em;
  }

  .info .credit {
    text-align: right;
    font-size: 0.6em;
    margin-right: 5em;
    margin-top: 1em;
  }


  .theater-up_next-container {
    display: inherit;
  }
}

#upload_message {
  position: absolute;
  color: red;
  margin-top: 10px;
}
