script(src="/javascripts/aboutpanel.js")
//- svg(class="aboutbtn" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
    //- path(d="M0 0h24v24H0z" fill="none")
    //- path(d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z")
.aboutpanelbkg
.aboutbtn
    |About Silent Movie
.aboutpanel
    .close
        | &times;
    //- h1
    //-     | About Silent Movie
    p
        | What we make and what we see, what we like and what we engage with, shapes us and shapes our world.
        | Storytelling, at some level,  is a means of cultural preservation and instilling moral values.
        br
        br
        | Silent Movie seeks to investigate what happens when we refuse to accept the story as it is presented to us.
        | It asks us to question, draw our own conclusions, to think critically.
        br
        br
        | In the experience, everyone begins with the same content, a set of video clips and title cards.
        | The video clips are cut from old, black and white American Westerns and the title cards
        | are taken from random parts of Jane Austen’s Pride and Prejudice.
        br
        br
        | Silent Movie invites participants to consider these clips and assemble them in their own way to tell a new story.
        | It encourages and enables each of us to find our own meaning in the content provided.


    h2
        | Contributions
    .contribution
        | Hope Hutman is a research associate and Artist-in-Residence in the
        | Visual Narrative Cluster at NC State University  The focus of her work is performance and technology.
        | Her designs seek to enable the audience to contribute to the narrative and to the storyworld in an embodied and contextually meaningful way.
        | In 2007 she co-founded Telefon Projekt, a creative technology company.
        | She has worked with movie studios, television production companies,  playwrights and brands.
    .contribution
        | Professor Arnav Jhala, co-director, Visual Narrative Cluster and Associate Professor of Computer Science NCSU
    .contribution
        | In Collaboration with:
    .contribution
        | UI/UX Design:
        br
        | Daxit Agarwal, Sophomore, Computer Science
        br
        br
        | Film Curation and Editing:
        br
        | Harrison Smith,  Junior, Art Studies with a film concentration;
        br
        br
        | Developer:
        br
        | Matthew Scott Riegel, Senior,  Software Engineering with a focus in Web-application and Mobile development
    .thanks
        | Special Thanks to:
        br
        br
        | Helen Burgess, Marian Fragola , Marsha Gordon, Mike Nutt, Evan Yionoulis,
        | The James B Hunt Library, and The NCSU Games and Visual Narrative Cluster
