//- Fades out the background
.modalbkg 
//- Modal / Popup
div(class="modal fade", id="projectModal", role="dialog")
    header
        | Give your movie a title &amp; an author.
    main
        label(for="input_name") Name:
        input(id="input_name" type="text" name="name")
        hr
        label(for="input_creator") Author:
        input(id="input_creator" type="text" name="creator")
        #upload_message
    footer
        div(class="btn cancel",onclick="exitPublishModal()")
            | Cancel
        div(class="btn" onclick="saveNewProject()")
            | Publish
    div(class="exit", onclick="exitPublishModal()")
        | &times;

div(class="modal fade", id="successModal", role="dialog")
    header
        | Movie uploaded successfully!
    main
    footer
        div(class="btn cancel",onclick="exitSuccessModal()")
            | Continue
    div(class="exit", onclick="exitSuccessModal()")
        | &times;
